body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  header h1 {
    margin: 5px 0;
    font-size: 2em;
  }
  
  .main-content {
    display: flex;
    justify-content: space-around;
    padding: 40px;
  }
  
  .product-image img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .product-details {
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .product-details h2 {
    color: #333;
  }
  
  .feature-list {
    list-style-type: none;
    padding: 0;
  }
  
  .feature-list li {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .feature-icon {
    width: 100px; /* Set your desired size */
    height: 100px; /* Set your desired size */
    margin-right: 10px;
  }
  
  .product-details p {
    margin-top: 20px;
  }
  
  .cta-button a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button a:hover {
    background-color: #555;
  }
  
  footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  